{% extends 'base/base.html' %}
{% block page_content %}

    <body>
    <div id="container">
        <header id="site-header">

            <nav class="navbar">
                <section class="navbar-dashboard">
                    <a href="{% url 'index' %}">Dashboard</a>
                </section>
            </nav>
        </header>

        <section id="register-page" class="register">
            <form id="register-form" action="{% url 'index' %}" method="post">

                <fieldset>
                    {{ form }}
                    {% csrf_token %}
                    <legend>Profile Form</legend>
                    <input class="button submit" type="submit" value="Enter">
                </fieldset>
            </form>
        </section>

        <footer id="site-footer">
            <p>Python Web Basics Retake Exam @SoftUni</p>
        </footer>
    </div>
    </body>

{% endblock %}
